* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: sans-serif;
}

header {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
  justify-items: left;
  align-items: center;
  padding: 1.2rem;
}

.btn__bubble:hover {
  cursor: pointer;
}

.btn__dl {
  background-color: #000000;
  width: 130px;
  border: .5px solid #ffffff;
  border-radius: 8px;
  height: 42px;
}

.btn__down {
  margin: 112px auto 0;
  border-radius: 50%;
  width: 50px;
}

.btn__down:hover {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.7;
}

.btn__down:hover {
  cursor: pointer;
}

.btn__find {
  background-color: #fb6100;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  padding: 20px 105px;
  margin-top: 24px;
  width: 100%;
}

.btn__find:hover {
  background-color: #f05d00;
  cursor: pointer;
}

.btn__learnMore {
  background-color: #fb6100;
  color: #fff;
  border: none;
  border-radius: 32px;
  padding: 18px 32px;
  font-size: 1.2rem;
  margin-bottom: 24px;
}

.btn__learnMore:hover {
  background-color: #f05d00;
  cursor: pointer;
}

.btn__locator {
  padding-left: 14px;
  border-left: 1px solid #f6f3f1;
}

.btn__locator:hover {
  cursor: pointer;
}

.btn__menu {
  padding: 0 8px 0 20px;
}

.btn__menu:hover {
  cursor: pointer;
}

.card__cuisine {
  height: 132px;
  width: 109px;
  background-size: cover;
  display: inline-block;
  border-radius: 10px;
  margin: 0 5px;
}

.card__italian {
  background-image: url(../public/images/Italian.jpeg);
}
.card__pizza {
  background-image: url(../public/images/Pizza.png);
}
.card__chinese {
  background-image: url(../public/images/Chinese.png);
}
.card__japanese {
  background-image: url(../public/images/Japanese.jpeg);
}
.card__sushi {
  background-image: url(../public/images/Sushi.png);
}
.card__thai {
  background-image: url(../public/images/Thai.jpeg);
}
.card__vietnamese {
  background-image: url(../public/images/Vietnamese.jpeg);
}
.card__burgers {
  background-image: url(../public/images/Burgers.png);
}
.card__greek {
  background-image: url(../public/images/Greek.jpeg);
}
.card__indian {
  background-image: url(../public/images/Indian.png);
}
.card__convenience {
  background-image: url(../public/images/Convenience.jpeg);
}

.hero__img {
  background-image: url(../public/images/mobile-large.webp);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__keyword {
  color: #ffffff;
  font-weight: 900;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.hero__text {
  padding-top: 105px;
}

.h2__dl {
  line-height: 1.4;
}

.h2__skip {
  font-weight: 900;
  font-size: 2.3rem;
  color: #ff8001;
}

.h2__skiprewards {
  font-weight: 200;
  font-size: 2.3rem;
  color: #ff8001;
  padding-bottom: 18px;
}

.icon__user {
  padding-right: 10px;
}

.img__sp {
  width: 240px;
  height: 310px;
  margin-top: 50px;
  /* display: block; */
  /* position: absolute; */
  /* top: 100px; */
}

.input__address {
  border: none;
  font-weight: 700;
}

.input__address:focus {
  outline: none;
}

.input__address::-webkit-input-placeholder {
  color: #757575;
  font-weight: bold;
  font-size: 13px;
}

.input__apt__num {
  display: block;
  border: 1px solid #797876;
  border-radius: 12px;
  padding: 0.9rem 1rem;
  font-size: 1rem;
  font-weight: 200;
  color: #0c151c;
}

.input__apt__num:focus {
  outline: none;
}

.input__apt__num::-webkit-input-placeholder {
  color: #999da0;
}

.input__instruction {
  display: block;
  border: 1px solid #797876;
  border-radius: 12px;
  padding: 0.9rem 1rem;
  font-size: 1rem;
  font-weight: 200;
  color: #0c151c;
  margin-top: 10px;
}

.input__instruction:focus {
  outline: none;
}

.input__instruction::-webkit-input-placeholder {
  color: #999da0;
}

.link__home {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
}

.wrapper__dl {
  /* background-color: #0c151c; */
  /* height: 800px; */
}

.wrapper__dl__btns {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 45px;
}

.wrapper__dl__img {
  background-color: #0c151c;
  height: 280px;
  position: relative;
  z-index: 0;
  margin-top: 260px;
  /* position: relative; */
}

.wrapper__dl__img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 138px;
  z-index: -1;
  width: 100%;
  height: 160px;
  background: #0c151c;
  transform: skewY(176deg);
  transform-origin: top right;
}

.wrapper__dl__text {
  background-color: #111b21;
  color: #ffffff;
  padding-top: 95px;
}

.wrapper__dl__text p {
  font-size: 15px;
  font-weight: lighter;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  line-height: 1.5;
}

.wrapper__img__girl {
  background-image: url(../public/images/rewards-landingPage-en-1x.png);
  height: 248px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: -20px; */
}

.wrapper__input {
  background-color: #ffffff;
  width: 85%;
  height: 258px;
  margin: 0 auto;
  border-radius: 24px;
  padding: 16px;
}

.wrapper__input__address {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.wrapper__input__optional {
  width: 100%;
  margin: 0 auto;
  padding-top: 31px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.wrapper__popularcuisines__cards {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.wrapper__rewards {
  background-color: #feead4;
  height: 300px;
  padding-top: 44px;
  position: relative;
}

.wrapper__rewards__p {
  width: 84%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.wrapper__rewards__p > p {
  color: #425457;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 1.3;
}

.wrapper__rewards__textArea {
  position: relative;
  z-index: 0;
  background-color: #feead4;
}

.wrapper__rewards__textArea::after {
  content: "";
  position: absolute;
  left: 0;
  top: 138px;
  z-index: -1;
  width: 100%;
  height: 190px;
  background: #feead4;
  transform: skewY(176deg);
  transform-origin: top right;
}

.wrapper__slider {
  background-color: #757575;
  height: 71vh;
}
