* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

h2 {
  text-align: center;
}

footer {
  background-color: #1b252e;
  padding-top: 56px;
}

footer li {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  list-style-type: none;
  padding-bottom: 30px;
}

footer li:hover {
  cursor: pointer;
}

.icon-backToTop {
  font-size: 45px;
  position: absolute;
  stroke: #0c151c;
  fill: #fff;
  position: fixed;
  z-index: 99;
  right: 4%;
  bottom: 2%;
  filter: drop-shadow(1px 1px 2px #595959);
}

.icon-backToTop:hover {
  cursor: pointer;
}

.footer__copyright {
  background-color: #162028;
  color: #ffffff;
  padding: 20px 24px;
  font-size: 12px;
}

.footer__copyright__inner {
  display: flex;
  justify-content: space-between;
}

.footer__copyright__canada {
  margin: 0 5px;
  font-weight: bolder;
}

.footer__copyright__conpany {
  display: flex;
  align-items: center;
}

.footer__copyright__country {
  display: flex;
  align-items: center;
}

.footer__copyright__country:hover {
  cursor: pointer;
}

.footer__copyright__skip {
  margin-left: 5px;
}

.footer__link1 {
  display: flex;
  padding-bottom: 14px;
  border-bottom: 1px solid #425457;
}

.footer__link1__left {
  padding-left: 25px;
  padding-right: 136px;
}

.footer__link2 {
  padding: 54px 0 30px 25px;
  border-bottom: 1px solid #425457;
}

.footer__referral__social {
  padding: 50px 25px 0;
}

.footer__referral__social a {
  color: #ffffff;
}

.footer__referral__social__desktop {
  display: none;
}

.twitter {
  font-size: 28px;
}

.facebook {
  font-size: 35px;
}

.instagram {
  font-size: 28px;
}

.youtube {
  font-size: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}

.btn__bubble:hover {
  cursor: pointer;
}

.icon-bubble {
  font-size: 33px;
}

.btn__dl {
  background-color: #000000;
  border: 0.3px solid #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.btn__dl:hover {
  cursor: pointer;
}

.btn__dl__apple {
  margin-right: 10px;
  width: 115px;
  height: 42px;
}

.btn__dl__google {
  width: 130px;
  height: 40px;
}

.btn__dl__txt__1 {
  font-size: 8px;
  font-weight: lighter;
  text-align: left;
}

.btn__dl__txt__2 {
  font-size: 16px;
}

.btn__down {
  margin: 0 auto;
  padding-top: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}

.btn__down:hover {
  cursor: pointer;
}

.btn__find {
  background-color: #fb6100;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  padding: 20px 105px;
  margin-top: 24px;
  width: 100%;
}

.btn__find:hover {
  background-color: #f05d00;
  cursor: pointer;
}

.btn__icon {
  padding: 0 4px;
}

.btn__learnMore {
  background-color: #fb6100;
  color: #fff;
  border: none;
  border-radius: 32px;
  padding: 18px 32px;
  font-size: 1.2rem;
  display: block;
  margin: 0 auto 24px;
}

.btn__learnMore:hover {
  background-color: #f05d00;
  cursor: pointer;
}

.btn__locator {
  padding-left: 14px;
  border-left: 1px solid #f6f3f1;
}

.btn__locator:hover {
  cursor: pointer;
}

.btn__menu {
  padding: 0 8px 0 20px;
}

.btn__menu:hover {
  cursor: pointer;
}

.card {
  position: relative;
}

.card__btn {
  font-size: 14px;
  font-weight: bolder;
  color: #425457;
  border-top: 1px solid #f6f3f1;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.card__btn:hover {
  cursor: pointer;
  background-color: #f6f3f1;
}

.card__btn__under {
  width: 100%;
  height: 20px;
  background-color: #fcfcfb;
}

.card__img {
  width: 500px;
  height: 180px;
  object-fit: cover;
  object-position: 0 100%;
  display: block;
}

.card__text {
  padding: 18px 30px 0;
  text-align: center;
}

.card__text > h3 {
  font-size: 15px;
  letter-spacing: 0.03rem;
}

.card__text > p {
  font-weight: lighter;
  font-size: 13px;
  letter-spacing: 0.03rem;
  line-height: 1.5;
  padding: 14px 0 34px;
}

.card__text1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 130px;
  z-index: 1;
  width: 100%;
  height: 50px;
  background: #fff;
  transform: skewY(176deg);
  transform-origin: top right;
}

.card__text2 {
  padding-top: 18px;
}

.card__text2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 176px;
  z-index: 1;
  width: 100%;
  height: 39px;
  background: #fff;
  transform: skewY(-176deg);
  transform-origin: top right;
}

.card__text3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 130px;
  z-index: 1;
  width: 100%;
  height: 50px;
  background: #fff;
  transform: skewY(176deg);
  transform-origin: top right;
}

.card__cuisine {
  height: 132px;
  width: 106px;
  background-size: cover;
  display: inline-block;
  border-radius: 10px;
  margin: 0 8px 0 0;
  filter: brightness(78%);
}

.card__cuisine:hover {
  cursor: pointer;
}

.card__italian {
  background-image: url(../public/images/Italian.jpeg);
}
.card__pizza {
  background-image: url(../public/images/Pizza.png);
}
.card__chinese {
  background-image: url(../public/images/Chinese.png);
}
.card__japanese {
  background-image: url(../public/images/Japanese.jpeg);
}
.card__sushi {
  background-image: url(../public/images/Sushi.png);
}
.card__thai {
  background-image: url(../public/images/Thai.jpeg);
}
.card__vietnamese {
  background-image: url(../public/images/Vietnamese.jpeg);
}
.card__burgers {
  background-image: url(../public/images/Burgers.png);
}
.card__greek {
  background-image: url(../public/images/Greek.jpeg);
}
.card__indian {
  background-image: url(../public/images/Indian.png);
}
.card__convenience {
  background-image: url(../public/images/Convenience.jpeg);
}

#hero__img {
  background-image: url(../public/images/mobile-large.webp);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__keyword {
  color: #ffffff;
  font-weight: 900;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  text-align: center;
}

.hero__text {
  padding-top: 120px;
}

.h2__dl {
  line-height: 1.4;
  font-size: 26px;
}

.h2__skip {
  font-weight: 900;
  font-size: 2.3rem;
  color: #ff8001;
}

.h2__skiprewards {
  font-weight: 200;
  font-size: 2.3rem;
  color: #ff8001;
  padding-bottom: 18px;
}

.h2__state {
  padding-bottom: 4px;
}

.icon__user {
  padding-right: 10px;
}

.img__sp {
  width: 240px;
  height: 310px;
  padding-top: 40px;
  display: block;
  margin: 0 auto;
}

.img__desktop {
  display: none;
}

.input__address {
  border: none;
  font-weight: 700;
}

.input__address:focus {
  outline: none;
}

.input__address::-webkit-input-placeholder {
  color: #757575;
  font-weight: bold;
  font-size: 13px;
}

.input__apt__num {
  display: block;
  border: 1px solid #797876;
  border-radius: 12px;
  padding: 0.9rem 1rem;
  font-size: 1rem;
  font-weight: 200;
  color: #0c151c;
}

.input__apt__num:focus {
  outline: none;
}

.input__apt__num::-webkit-input-placeholder {
  color: #999da0;
}

.input__instruction {
  display: block;
  border: 1px solid #797876;
  border-radius: 12px;
  padding: 0.9rem 1rem;
  font-size: 1rem;
  font-weight: 200;
  color: #0c151c;
  margin-top: 10px;
}

.input__instruction:focus {
  outline: none;
}

.input__instruction::-webkit-input-placeholder {
  color: #999da0;
}

.invite {
  text-align: left;
  font-size: 15px;
}

.wrapper__home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__home:hover {
  cursor: pointer;
}

.skip {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  font-style: italic;
}

.icon-house {
  font-size: 30px;
  color: #fff;
}

.p__dl {
  font-size: 15px;
  font-weight: lighter;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  line-height: 1.5;
  text-align: center;
}

.state {
  font-size: 13px;
  font-weight: lighter;
  text-align: left;
  border-top: 1px solid #f6f3f1;
  padding: 20.5px 0 20px 18px;
}

.state:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.state__northwest {
  border-bottom: 1px solid #f6f3f1;
}

.ul__sns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  width: 45%;
}

.ul__sns li {
  padding-bottom: 22px;
}

#wrapper__carousel {
  display: flex;
  width: 100%;
  min-width: 100%;
  height: 509px;
  position: relative;
  overflow: hidden;
}

#wrapper__indicator__desktop {
  display: none;
}

.carousel__inner {
  width: 100vw;
}

.wrapper__cards {
  /* margin-bottom: 20px; */
  padding: 20px 0 20px;
  background-color: #FCFCFB;
}

.wrapper__dl {
  background-color: #0C151C;
}

.wrapper__dl__btns {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.wrapper__dl__text {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 30px;
  height: 235px;
}

.wrapper__img__girl {
  background-image: url(../public/images/rewards-landingPage-en-1x.png);
  height: 248px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper__img__girl__desktop {
  display: none;
}

#wrapper__indicator {
  height: 100px;
  text-align: center;
}

.indicator {
  width: 14px;
  padding: 2px;
  margin-top: 70px;
  margin-right: 4px;
  background-color: #bdbdbd;
  border: none;
}

.indicator:hover {
  cursor: pointer;
}

.indicator:active {
  background-color: #f36804;
}

.wrapper__input {
  background-color: #ffffff;
  width: 85%;
  height: 258px;
  margin: 0 auto;
  border-radius: 24px;
  padding: 16px;
}

.wrapper__input__address {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.wrapper__input__optional {
  width: 100%;
  margin: 0 auto;
  padding-top: 31px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.wrapper__popularcuisines {
  padding: 70px 16px 30px;
  background-color: #fcfcfb;
}

.wrapper__popularcuisines > h2 {
  text-align: left;
  font-size: 14px;
  padding-bottom: 18px;
}

.wrapper__popularcuisines__card {
  position: relative;
}

.wrapper__popularcuisines__cards {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  display: flex;
}

.wrapper__popularcuisines__cards p {
  color: #ffffff;
  font-size: 13px;
  position: absolute;
  top: 105px;
  left: 14px;
}

.wrapper__rewards {
  position: static;
}

.wrapper__rewards__p {
  width: 84%;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}

.wrapper__rewards__p > p {
  color: #425457;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 1.3;
}

.wrapper__rewards__textArea {
  position: relative;
  z-index: 0;
  background-color: #feead4;
  padding-top: 44px;
}

.wrapper__rewards__textArea::after {
  content: "";
  position: absolute;
  left: 0;
  top: 145px;
  z-index: -1;
  width: 100%;
  height: 220px;
  background: #feead4;
  transform: skewY(176deg);
  transform-origin: top right;
}

.wrapper__slider {
  background-color: #757575;
  height: 68vh;
}

.wrapper__states {
  padding-top: 66px;
}

.carousel {
  padding-top: 10px;
  width: 100%;
  height: 400px;
}

.carousel__img {
  width: 100%;
  height: auto;
}

.carousel__title {
  font-size: 28px;
  padding: 0 0 22px 12px;
}

.carousel__msg {
  font-size: 14px;
  font-weight: lighter;
  color: #425457;
  line-height: 1.5;
  padding-left: 12px;
  padding-right: 10px;
  padding-bottom: 38px;
}

.carousel__msg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 60px;
  background: #fff;
  transform: skewY(176deg);
  transform-origin: top right;
}

.userLocation {
  font-size: 20px;
}

.currentLocation {
  font-size: 30px;
}

.header-help {
  display: none;
}

.header-icon-country {
  display: none;
}

.header-login {
  display: none;
}

.header-signup {
  display: none;
}

.right-menu {
  display: flex;
}

.down-arrow {
  font-size: 44px;
  color: #d5ccc1;
}
