/* 960 */
/* Header */
/* Bigger logo */
/* Need help, canada icon, vertical line, login txt, signup btn */
/* ============= */
/* Hero */
/* Bigger title, horizaontal inputs, btn txt */

@media only screen and (min-width: 960px) {
  body {
    background-color: lightblue;
  }

  .icon-house {
    font-size: 40px;
    color: #FFF;
  }

  .skip {
    font-size: 24px;
  }

  .btn__bubble {
    border-right: 1px solid #FFF;
  }
}
